body {
    background-color: rgb(206, 249, 252);
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.first {
    color: red;
}

#your-name {
    background-color: rgb(123, 255, 255);
    border: 5px solid #444;
}